 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body{
    color: #a3a3a3;
    font-family: Montserrat;
} 

aside{
    background-color: #000000;
    width: 300px;
    color:#d2d2d2;
    height:calc(100vh - 76px);
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

aside .mainlogo{
    width: 10rem;
    margin-top: 1rem;
}

.icon{
    width: 2rem;
}

.profile{
    background-color: #a3a3a3;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

/* .biggericon{
    width: 3rem;
    color:#d2d2d2;
} */

aside ul > li {
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

li{
    padding-right: 1rem;
}

hr{
    margin:1rem solid 1px;
}

.white{
    color: white;
}

.flex{
    display: flex;
}

.upgrade{
    background-color: #080b12;
    width: calc(100vw - 300px);
    position: absolute;
    
    top: 0;
    justify-content: end;
}

button{
    color: white;
    background-color:#080b12;
    border-color: white;
    border-radius: 25px;
    padding: .6rem 2rem;
    
}

div.flex nav ul{
    list-style: none;
    display: flex;
    position: relative;
    top: 6rem;
    margin-bottom: 8rem;
}

div.row{
    justify-content: space-between;
    
}

.playlist{
    background-color: #141922;
    position: absolute;
    width: calc(100vw - 300px);
    left: 300px;
    top:0;
    overflow: scroll;
    height: calc(100vh - 70px);
}

section.playlist > article.centered{
    width: calc((100vw/6) - 12rem);
    
}

div.flex{
    padding: 1rem;
}
.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.row article.centered{
    max-width: 300px;
}

article > img{
    margin: 1rem;
    
}

h2{
    margin-bottom: .6rem;
    padding-left: 2rem;
}

section.big > p{
    padding-left: 2rem;
}

.circle{
    border-radius: 50%;
}

.smaller{
    border-radius: 50%;
    width: 85%;
}

footer{
    background-color: #282828;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 2;
}
footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.small{
    width: 2.5rem;
}
div.reproduction{
    display: flex;
    align-items: center;
    justify-content: center;
}

.riproduzione {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.bar{
    position: relative;
    background-color: #5a5a5a;
    height: 5px;
    width: 400px;
    border-radius: 25px;
    align-items:center;
    justify-content: center;
    margin: 1rem 1.5rem;
}

.ligth{
    position:absolute;
    background-color: #c1c1c1;
    height: 5px;
    width: 80px;
    border-radius: 25px;
    align-items:center;
    justify-content: center;
    margin: 1rem 1.5rem;
    left: 0;
}