 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body{
    color: #a3a3a3;
    font-family: Montserrat;
} 

aside{
    background-color: #000000;
    width: 300px;
    color:#d2d2d2;
    height:calc(100vh - 106px);
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

aside .mainlogo{
    width: 10rem;
    margin-top: 1rem;
}

.margin{
    margin: 0 1rem;
}
.icon{
    width: 2rem;
}

.profile{
    background-color: #a3a3a3;
    border-radius: 50%;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .biggericon{
    width: 3rem;
    color:#d2d2d2;
} */

aside ul > li  {
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

li{
    padding-right: 1.5rem;
}

div.item nav
li > i{
    margin-right:.5rem;
}

li > i{
    display: flex;
    align-items: center;
}

i > img{
    margin-right: .5rem;
}

#plussquare{
    font-size: 45px;
}
hr{
    margin:1rem solid 1px;
}

.white{
    color: white;
}

.flex{
    display: flex;
}

.upgrade{
    background-color: #080b12;
    width: calc(100vw - 300px);
    position: absolute;
    
    top: 0;
    justify-content: end;
}

button{
    color: white;
    background-color:#080b12;
    border-color: white;
    border-radius: 25px;
    padding: .6rem 2rem;
    margin: 1rem;
    
}

div.flex nav ul{
    list-style: none;
    display: flex;
    position: relative;
    top: 6rem;
    margin-bottom: 8rem;
}



.playlist{
    background-color: #141922;
    position: absolute;
    width: calc(100vw - 300px);
    left: 300px;
    top:0;
    overflow-y: scroll;
    height: calc(100vh - 106px);
}

.bold{
    font-weight: bolder;
}
div.flex{
    /* padding: 1rem; */
    /* flex-wrap: wrap; */
    
}
.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.row article.centered{
    width: calc((100% - 1rem) / 6 );
    padding: 0 1rem;
}

div.row2 article.centered{
    
    
}

article > img{
    margin: 1rem;
    width: 100%;
}

.margin-left{
    /* margin-left: -1rem; */
}

h2{
    margin-bottom: .6rem;
    padding-left: 2rem;
}

section.big > p{
    padding-left: 2rem;
}

.circle{
    border-radius: 50%;
}

.smaller{
    border-radius: 50%;
    width: 85%;
}

footer{
    background-color: #282828;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 2;
}
footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.bigger{
    font-size: 30px;
}

.small{
    width:50px;
}

div.reproduction{
    display: flex;
    align-items: center;
    justify-content: center;
}

.riproduzione {
    display: flex;
    align-items: center;
    justify-content: space-around
}

div.riproduzione p{
    font-size: 10px;
    
}

div.riproduzione p:nth-last-child(1) {
    padding-right: 1rem;
}

.bar{
    position: relative;
    background-color: #5a5a5a;
    height: 5px;
    width: 25vw;
    border-radius: 25px;
    align-items:center;
    justify-content: center;
    margin: 1rem 1.5rem;
}

.light{
    position:absolute;
    background-color: #c1c1c1;
    height: 5px;
    width: 5vw;
    border-radius: 25px;
    align-items:center;
    justify-content: center;
    left: 0;
}

.time.small{
    width: 8vw;
}

.padding-right{
    padding-right: 0;
}

.logo-small{
    display: none;
}

@media screen and (max-width: 992px){
    /* chiedere a jacopo header nav riposizionamento  */
    div.row article.centered{
        width: calc(100% / 4 );
        padding: 0 1rem;
        justify-content: flex-start;
    }
    
    div.row{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    article > img{
        width: 100%;
    }

    div.flex.centered{
        align-items: center;
        width: 100%;
        font-size: 12px;
    }

    div.row2 article.centered{
        width: calc(50% / 2);
    }

    footer {
        width:100vw;
    }

    .small{
        width:50px;
    }
}

@media screen and (max-width: 768px){
    div.row article.centered{
        width: calc(100% / 2 );
        padding: 0 1rem;
        justify-content: flex-start;
    }
    
    div.row{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    article > img{
        width: 100%;
    }

    .centered > nav{
        align-items: center;
        /* width: calc( 100% / 3 );  chiedere a riccardo */
        font-size: 12px;
        flex-wrap: wrap;
        
    }

    div.row2 article.centered{
        width: calc(50% / 2);
    }

    footer {
        width:100vw;
    }

    .small{
        width:50px;
    }
}

@media screen and (max-width: 576px){
    
    aside{
        width: 80px;
    }
    
    aside p{
        display: none;
    }

    aside hr{
        display: none;
    }

    #plussquare{
        display: none;
    }

    div.row article.centered{
        width: calc(100% / 2 );
        padding: 0 1rem;
        justify-content: flex-start;
    }
    
    div.row{
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }

    article > img{
        width: 100%;
    }

    .playlist{
        position: absolute;
        width: calc(100vw - 80px);
        left: 80px;
    }

    .upgrade{
        width: calc(100vw - 80px);
        position: absolute;
        top: 0;
        justify-content: end;
    }

    .centered > nav{
        align-items: center;
        /* width: calc( 100% / 4 );  chiedere a riccardo */
        font-size: 12px;
        flex-wrap: wrap;
        
    }

    div.row2 article.centered{
        width: calc(50% / 2);
    }

    footer {
        width:100vw;
    }

    aside .mainlogo {
        display: none;
    }

    .logo-small{
        display: block;
        height: 50px;
        
    }

    .small{
        width:50px;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
}
